@model webapp_ZS.Models.Categories

@{
    ViewData["Title"] = "Details";
}

<h1>Detay Bilgiler</h1>

<div>
    <h4>Kategoriler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoryDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoryDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="action-link back-button"><i class="fas fa-arrow-left"></i> Geri</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="action-link edit-link"><i class="fas fa-pencil-alt"></i> Düzenle</a>

</div>
